.cart {
  background: rgba(23, 17, 13, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 80px 147px;
}
.container {
  width: 1440px;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 60px;
}
.cartWrapper {
  width: 1600px;
  background: var(--light, #f6efe1);
  margin: 0 auto;
}
.cartItems {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  font-size: 80px;
  font-weight: 100;
  line-height: 125%;
}
.cartTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #17110d;
  h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 125%;
  }
  margin-bottom: 60px;
}
.info {
  display: flex;
  -webkit-box-shadow: 0px 1px 0px #9d968c;
  -moz-box-shadow: 0px 1px 0px #9d968c;
  box-shadow: 0px 1px 0px #9d968c;
  padding-bottom: 8px;
  margin-bottom: 40px;
  h4 {
    color: var(--brown, #17110d);

    font-size: 14px;
    font-weight: 400;
    line-height: 125%;
  }
}
.infoProduct {
  margin-right: 674px;
}
.infoPrice {
  margin-right: 202px;
}
.infoCount {
  margin-right: 184px;
}
.sum {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 83px;
  margin-top: 22px;
  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 125%;
    margin-right: 20px;
  }
  span {
    font-size: 24px;
    font-weight: 700;
    line-height: 125%;
    margin-right: 5px;
  }
}
.cartBtns {
  display: flex;
  justify-content: space-between;
}
.continuaBtn {
  border: 1px solid var(--brown, #17110d);
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
  padding: 15px 96px;
}
.orderBtn {
  background: var(--brown, #17110d);
  color: var(--light, #f6efe1);
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
  padding: 15px 96px;
}
