.productCart {
  width: 425px;
  .imageCart {
    margin-bottom: 35px;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 35px;
  h2 {
    color: var(--brown, #17110d);
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 125%; /* 37.5px */
    text-transform: uppercase;
  }
}
.description {
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
  display: flex;
}
.cartInfo {
  display: flex;
  button {
    color: var(--light, #f6efe1);
    font-size: 20px;
    font-weight: 400;
    line-height: 125%; /* 25px */
    display: flex;
    padding: 15px 120px;
    background: var(--brown, #17110d);
  }
}
